* {
  margin:0;
  padding: 0;
}

ul,li {
  list-style: none;
}

body {
  background: #404040;
  color: #c8c8c8;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

.title {
  padding:10px;
  display: flex;
  background: #626262;
}

.game-container {
  display: flex;
  flex-grow: 1;
}

.subject-interaction {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.subject-list-window {
  padding: 5px;
  background:  #2f2f2f;
  border-right:1px solid black;
}

.subject-list li {
  padding: 5px;
}

.subject-list li.selected {
  background:  #3c454a;
}

.subject-list li:hover {
  background:  #495860;
}

.subject-info {
  background: #43494d;
  flex-grow: 2;
  border-bottom:1px solid black;
  padding:13px;
}

.dialog-box {
  flex-grow: 1;
  padding:13px;
}

.dialog-box .question {
  font-weight: bolder;
  font-size: 1.4em;
  margin-bottom:1.2em;
}

.dialog-box .answer {
  font-size: 1.2em;
  padding-left: 13px;
  width: fit-content;
}

.dialog-box .answer:hover {
  background:  #495860;
}

.dialog-box .answer:before {
  content: '> ';
  display: inline-block;
  margin-right: 4px;
}

.typewriter li,
.typewriter .question {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(100, end);
}

.console-run {
  width: 0;
  height: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typeAndGone 2s steps(22, end);
  border-right: 0.1em solid white;
}

.console-run-result {
  overflow: hidden;
  white-space: nowrap;
  animation: goneAndShow 2.2s steps(22, end);
}
@media (max-width: 824px) {
  * {
    font-size: 0.95em;
  }

  .typewriter li,
  .typewriter .question {
    animation: typing 2s steps(100, end);
  }
}

@keyframes typing {
  from { max-width: 0; width: fit-content }
  to { max-width: 100%; width: fit-content }
}

@keyframes typeAndGone {
  0%, 10% { width: 1em; height: 1.5em }
  65%,99% { width: 14.5em; height: 1.5em }
  100% { width:0; height: 0 }
}

@keyframes goneAndShow {
  0%, 100% { width: 0; height: 0; padding:0; margin:0; display: none }
}

.subject-property-name,
.subject-property-value {
  font-size: 1.4em;
}

.subject-property-name {
  font-weight: bolder;
}

.subject-property-value {

}
